*
{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}


.container
{
    background:linear-gradient(135deg,#153677,#4e085f);
    width:100%;
    min-height:100vh;
    padding:2rem;
 
  

}


.todo-app
{
    margin:100px auto 20px;
    width:100%;
    max-width:100vh;
    background:white;
    padding:40px 30px 70px;
    border-radius:1rem;
}

.todo-app h1{
    display:flex;
    font-weight:500;
    margin-bottom: 2rem;
}

.todo-app h1 img{

    width:40px;
    height:40px;
    margin-left:1rem;

}

.todo-app #frm
{
    display:flex;
    /* width:100%; */
    padding:2rem;



}

#frm .txt
{

    width: 100%;
    text-align:center;
    border-radius: 1.6rem;
    padding: 1rem;
    outline:none;
    border:1px solid brown;
    /* box-shadow: 0 0 1 green; */
    font-size:1rem;
    font-weight:500;
    transition:.5s ease-in-out;
    
}


#frm .txt:hover
{
    border:2px solid green;
    background:linear-gradient(145deg,rgb(145, 227, 214),rgb(231, 191, 232));
    color:black;
    /* transition: margin-right 2s; */
    
}

.btn
{
    margin:0 8px;
    background:#3b9edc;
    border-radius:1.6rem;
    font-weight:800;
    border:none;
    padding:1rem;
    color:#fff;
    cursor:pointer;
    outline:none;
    transition:.5s linear all ;
    
}

.btn:hover
{
    background:linear-gradient(145deg,rgb(124, 230, 212),rgb(221, 88, 223));
    transform:rotate(.03turn);
    outline:none;

}



.list-items ul li
{
    list-style: none;   
    font-size:1.4rem;
    font-weight:500;
    padding:12px 8px 12px 50px;
    /* position:relative; */

}


.list-items ul li:before
{
    content:"";
    /* position:absolute; */
    background:red;
    background-image:url(images/unchecked.png);
    height:30px;
    width:30px;
    border-radius:50%;
    background-size:cover;
    background-position:center;
    /* top:12px;
    left:8px; */
}




















